@import 'tailwindcss';

@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.box-shadow__card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.box-shadow__card:hover {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
}
