.sidebar {
  background-image: url('../../../public/fachada-teatro-orpheum-noite.webp');
  z-index: 2;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
}
